# ALL NECESSARY KEYS
MPESA_CONSUMER_KEY=your_consumer_key_here
MPESA_CONSUMER_SECRET=your_consumer_secret_here

# Initiator details for API authentication
INITIATOR_NAME=your_initiator_name_here
INITIATOR_PASS=your_initiator_password_here
MPESA_SECURITY_CREDENTIAL=your_security_credential_here

# Passkey for Lipa Na M-Pesa transactions
PASS_KEY=your_passkey_here

# Parties involved in transactions (business shortcode and other identifiers)
PARTY_A=your_party_a_shortcode_here
PARTY_B=your_party_b_shortcode_here

# Environment configuration
ENVIRONMENT=sandbox

# Requester details
REQUESTER=your_requester_phone_number_here
# Phone number that will receive PIN request
MSISDN=msisdn_eg_0711225578
# Lipa Na M-Pesa business shortcode
BUSINESS_SHORT_CODE=your_business_shortcode_here
# Account reference
ACCOUNT_REFERENCE=your_account_reference_here
# Certficate Path - Production or Sandbox
MPESA_CERT_PATH_DEV=your_dev_cert_path
MPESA_CERT_PATH_PROD=your_prod_cert_path